main {
    background-color: #121212;
}

.h-photo {
    width: 100px;
    height: 100px;
}

.color-E0 {
    color: #E0E0E0;
}

.bg-1E {
    background-color: #1E1E1E;
}
.color-1E {
    color: #1E1E1E;
}

.color-A0 {
    color: #A0A0A0;
}
